DATABASE_URL="file:./dev.db"
API_PORT=3001
PUBLIC_BASE_URL="https://wamm-hub.up.railway.app"
FRONTEND_BASE_URL="https://wamm-hub.up.railway.app"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="https://wamm-hub.up.railway.app/api/auth/google/callback"
